<div class="todo-content">
    <div class="portlet rio_custom_a">
        <!-- PROJECT HEAD -->
        <div class="portlet-title">
            <div class="caption">
                <i class="icon-bar-chart font-green-sharp hide"></i>
                <span class="caption-helper">Vị trí:</span>&nbsp;
                <span class="caption-subject font-green-sharp bold uppercase">{$nowPosition}</span>
            </div>
            <div class="actions">
                <div class="btn-group">
                    <a class="btn green-haze btn-circle btn-sm" href="#" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                        Chọn vị trí <i class="fa fa-angle-down"></i>
                    </a>
                    <ul class="dropdown-menu pull-right">
                        <!--{loop $routerPosition $k $v}-->
                            <li>
                                <a href="{$url_pos[$k]}">{$v}</a>
                            </li>
                        <!--{/loop}-->
                    </ul>
                </div>
            </div>
        </div>
        <!-- end PROJECT HEAD -->
        <div class="portlet-body">
            <div class="rio-block-style">
                <div id="rio-drag">
                    <div class="rio-list-module">
                        <ul class="row" id="show_block_in_pos">
                            <!--{if isset($blockUse[$id])}-->
                            <!--{loop $blockUse[$id] $k $v}-->
                            <li data-sort="1" id="{$v['id']}" data-idblock="{$v['idblock']}" data-position="{$v['position']}" data-file="{$v['file']}" data-module="{$v['module_str']}" data-module-id="{$v['module']}"   class="<!--{if $v['status']==1}--> active <!--{else}--> noactive <!--{/if}--> ">
                            <div class="rlm-item">
                                <div class="dragTool">
                                    <div class="rlm-move">
                                        <span class="fa fa-sort"></span>
                                    </div>
                                    <div class="rlm-current"></div>
                                    <div class="rlm-tool">
                                        <a title="Lên trên" class="rlm-up">
                                            <span class="fa fa-arrow-circle-up"></span>
                                        </a>
                                        <a title="Xuống dưới" class="rlm-down">
                                            <span class="fa fa-arrow-circle-down"></span>
                                        </a>
                                        <a title="<!--{if $v['status']==1}--> Ẩn  <!--{else}--> Hiện <!--{/if}-->" class="rlm-hidden">
                                        <span class="<!--{if $v['status']==1}--> fa fa-eye-slash <!--{else}--> fa fa-eye <!--{/if}--> "></span>
                                    </a>
                                    <a title="Xóa" class="rlm-del">
                                        <span class="fa fa-times"></span>
                                    </a>
                                    <a title="Cài đặt" class="rlm-set cai_dat" data-toggle="modal" data-target="#blockSetting_{$v['id']}">
                                        <span class="fa fa-cog"></span>
                                    </a>
                                </div>
                            </div>
                            <h2 id="h2_tile_block_{$v['id']}">{$v['title']}</h2>
                            <span class="tieude-df">{$v['name_default']} </span>
                            <a class="rlm-use">Sử dụng</a>
                            <img class="img-responsive" src="{$v['thumb']}" />
                        </div>
                        <!-- Modal -->
                        <div class="modal fade" id="blockSetting_{$v['id']}" tabindex="-1" role="dialog" aria-labelledby="blockSettingLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">{lang close}</span></button>
                                        <h4 class="modal-title" id="blockSettingLabel">{lang setting_block}</h4>
                                    </div>
                                    <div class="modal-body">
                                        <div class="form-group">
                                            <label for="title_block_{$v['id']}" class="col-sm-3 control-label">{lang title_block}</label>
                                            <div class="col-sm-9 prive_posive">
                                                <input type="text" value="{$v['title']}" class="form-control" id="title_block_{$v['id']}" placeholder="{lang title_block}">
                                                <input type="hidden" value="{$v['name_default']}" class="form-control" name="text_default_hd" >
                                                <button type="button" class="btn btn-primary reset_name"> Mặc định</button>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">{lang active_module}</label>
                                            <style type="text/css">
                                            .list_modules{
                                            width: 50%;
                                            float: left;
                                            }
                                            </style>
                                            <div class="col-sm-9">
                                                <!-- <div class="list_modules">
                                                    <input class="modules_block_label" data="{$v['id']" data-value="all" <!--{if 1}--> checked<!--{/if}--> type="checkbox" id="modules_block_{$v['id']}_all" name="modules_block_{$v['id']}[]" value="all">
                                                    <label class="modules_block_label" data="{$v['id']" data-value="all" for="modules_block_{$v['id']}_all">{lang all_modules}</label>
                                                </div> -->
                                                <!--{loop $mod_in_home $km $vm}-->
                                                    <div class="list_modules">
                                                        <input class="modules_block_label" data="{$v['id']" data-value="{$vm}" <!--{if in_array($vm,$activeUse[$v['id']])}--> checked<!--{/if}--> type="checkbox" id="modules_block_{$v['id']}_{$vm}" name="modules_block_{$v['id']}[]" value="$vm">
                                                        <label class="modules_block_label" data="{$v['id']" data-value="{$vm}" for="modules_block_{$v['id']}_{$vm}">{lang {$vm}}</label>
                                                    </div>
                                                <!--{/loop}-->
                                            </div>
                                            
                                        </div>
                                        <div class="clear"></div>
                                            <div class="form-group">
                                             <label class="col-sm-3 control-label">{lang short_textarea}</label>
                                             <div class="col-sm-9">
                                                 <textarea class="form-control ckeditor span12" id="short_textarea{$v['id']}" name="content" rows="6" style="width:420px"><!--{if isset({$v['short']})}-->{$v['short']}<!--{/if}--></textarea>
                                             </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">{lang close}</button>
                                        <button data="{$v['id']}" type="button" class="btn btn-primary save_setting_block">{lang save_changes}</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Modal -->
                    </li>
                    <!--{/loop}-->
                    <!--{/if}-->
                   <script type="text/javascript">
                   $('body').on('click', '.save_setting_block', function(event) {
                       event.preventDefault();
                        var idblock = $(this).attr('data');
                        var modal_id = '#blockSetting_' + idblock;
                        var h2_tile_block_id = '#h2_tile_block_' + idblock;
                        var title_block_id = '#title_block_' + idblock;
                        var short_textarea_id = '#short_textarea' + idblock;
                        var active_module_id = 'input[name^="modules_block_' + idblock + '"]';
                        var title_block = $(title_block_id).val();
                        var short_textarea = $(short_textarea_id).val();
                        //alert(short_textarea);
                        var active_module = [];
                        $(active_module_id).each(function(key, value) {
                            var module = $(value).val();
                            if ($(value).is(':checked')) { //if( $(value).checked() ){
                                active_module.push(module);
                            }
                        });
                        var dataString={
                             action: 'settingBlock',
                             id: idblock,
                             title: title_block,
                             active: active_module,
                             short_textarea : short_textarea
                        };
                        var urlSend='/template-block-ajax';
                        var data=ajax_global(dataString,urlSend,'POST','json');
                        $(h2_tile_block_id).html(title_block);
                        $('#blockSetting_'+idblock).modal('hide');
                   });
                    
                </script>
                </ul>
                <div class="clearfix"></div>
                <!-- Đoạn load popup-->
            </div>
        </div>
    </div>
</div>
</div>
</div>