<div class="actions btn-set">
	<a href="/template-customForm-listForm-lang-vi" class="btn default"><i class="fa fa-angle-left"></i> {lang cancel}</a>
	<button class="btn default" id="btn_reset" type="reset"><i class="fa fa-reply"></i> {lang lammoi}</button>
	<button class="btn green continue" data-continue="slidelist"><i class="fa fa-check"></i> {lang luu}</button>
	<button class="btn green continue" data-continue="slide"><i class="fa fa-check-circle"></i> {lang saveandcontine}</button>
	<input type="hidden" name="action" value="addSlide">
	<input type="hidden" name="lang" value="vi">
	<input type="hidden" name="continue" value="">
	<input type="hidden" name="issetLangDefault">
</div>