<div class="modal fade" id="NXT_modal_input_1_1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="myModalLabel">{lang chinhsua}</h4>
			</div>
			<div class="modal-body">
				<form class="form-horizontal" role="form">
					<div class="form-group">
						<label class="control-label col-md-3" for="name">{lang teninput}:</label>
						<div class="col-md-9">
							<input type="text" class="form-control" name="label" placeholder="{lang teninput}" value="Tên">
						</div>
					</div>
					
					<div class="form-group" style="display:none;">
						<label class="control-label col-md-3" for="name">{lang thuoctinhname}:</label>
						<div class="col-md-9">
							<input type="text" class="form-control" name="name" placeholder="name='demo_input'" value="demo_input">
						</div>
					</div>
					
					<div class="form-group">
						<label class="control-label col-md-3" for="default">{lang giatrimacdinh}:</label>
						<div class="col-md-9">
							<input type="text" class="form-control" name="default" placeholder="{lang giatrimacdinh}" value="">
						</div>
					</div>
					
					<div class="form-group">
						<label class="control-label col-md-3" for="placeholder">{lang goiy}:</label>
						<div class="col-md-9">
							<input type="text" class="form-control" name="placeholder" placeholder="{lang goiy}" value="">
						</div>
					</div>

					<div class="form-group">
						<label class="control-label col-md-3" for="default">{lang batbuoc}:</label>
						<div class="col-md-9">
							<input type="checkbox"  name="require" value="1">
						</div>
					</div>

				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">{lang cancel}</button>
				<button type="button" class="btn btn-primary NXT_save_edit_input">{lang luu}</button>
			</div>
			
		</div>
	</div>
</div>
<div class="modal fade" id="NXT_modal_input_1_2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="myModalLabel">{lang chinhsua}</h4>
			</div>
			<div class="modal-body">
				<form class="form-horizontal" role="form">
					<div class="form-group">
						<label class="control-label col-md-3" for="name">{lang teninput}:</label>
						<div class="col-md-9">
							<input type="text" class="form-control" name="label" placeholder="{lang teninput}" value="Mật khẩu">
						</div>
					</div>
					
					<div class="form-group" style="display:none;">
						<label class="control-label col-md-3" for="name">{lang thuoctinhname}:</label>
						<div class="col-md-9">
							<input type="text" class="form-control" name="name" placeholder="name='demo_input_2'" value="demo_input_2">
						</div>
					</div>
					
					<div class="form-group">
						<label class="control-label col-md-3" for="default">{lang giatrimacdinh}:</label>
						<div class="col-md-9">
							<input type="text" class="form-control" name="default" placeholder="{lang giatrimacdinh}" value="">
						</div>
					</div>
					
					<div class="form-group">
						<label class="control-label col-md-3" for="placeholder">{lang goiy}:</label>
						<div class="col-md-9">
							<input type="text" class="form-control" name="placeholder" placeholder="{lang goiy}" value="">
						</div>
					</div>
					
					<div class="form-group">
						<label class="control-label col-md-3" for="default">{lang batbuoc}:</label>
						<div class="col-md-9">
							<input type="checkbox"  name="require" value="1">
						</div>
					</div>

				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">{lang cancel}</button>
				<button type="button" class="btn btn-primary NXT_save_edit_input">{lang luu}</button>
			</div>
			
		</div>
	</div>
</div>
<div class="modal fade" id="NXT_modal_input_1_3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="myModalLabel">{lang chinhsua}</h4>
			</div>
			<div class="modal-body">
				<form class="form-horizontal" role="form">
					<div class="form-group">
						<label class="control-label col-md-3" for="name">{lang teninput}:</label>
						<div class="col-md-9">
							<input type="text" class="form-control" name="label" placeholder="{lang teninput}" value="Số">
						</div>
					</div>
					
					<div class="form-group" style="display:none;">
						<label class="control-label col-md-3" for="name">{lang thuoctinhname}:</label>
						<div class="col-md-9">
							<input type="text" class="form-control" name="name" placeholder="name='demo_input_3'" value="demo_input_3">
						</div>
					</div>
					
					<div class="form-group">
						<label class="control-label col-md-3" for="default">{lang giatrimacdinh}:</label>
						<div class="col-md-9">
							<input type="number" class="form-control" name="default" placeholder="{lang giatrimacdinh}" value="">
						</div>
					</div>
					
					<div class="form-group">
						<label class="control-label col-md-3" for="placeholder">{lang goiy}:</label>
						<div class="col-md-9">
							<input type="text" class="form-control" name="placeholder" placeholder="{lang goiy}" value="">
						</div>
					</div>
					
					<div class="form-group">
						<label class="control-label col-md-3" for="min">{lang nhonhat}:</label>
						<div class="col-md-9">
							<input type="number" class="form-control" name="min" placeholder="{lang nhonhat}" value="">
						</div>
					</div>
					
					<div class="form-group">
						<label class="control-label col-md-3" for="max">{lang lonnhat}:</label>
						<div class="col-md-9">
							<input type="number" class="form-control" name="max" placeholder="{lang lonnhat}" value="">
						</div>
					</div>
					
					<div class="form-group">
						<label class="control-label col-md-3" for="default">{lang batbuoc}:</label>
						<div class="col-md-9">
							<input type="checkbox"  name="require" value="1">
						</div>
					</div>

				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">{lang cancel}</button>
				<button type="button" class="btn btn-primary NXT_save_edit_input">{lang luu}</button>
			</div>
			
		</div>
	</div>
</div>
<div class="modal fade" id="NXT_modal_input_1_4" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="myModalLabel">{lang chinhsua}</h4>
			</div>
			<div class="modal-body">
				<form class="form-horizontal" role="form">
					<div class="form-group">
						<label class="control-label col-md-3" for="label">{lang teninput}:</label>
						<div class="col-md-9">
							<input type="text" class="form-control" name="label" placeholder="{lang teninput}" value="Đoạn văn bản">
						</div>
					</div>
					
					<div class="form-group" style="display:none;">
						<label class="control-label col-md-3" for="name">{lang thuoctinhname}:</label>
						<div class="col-md-9">
							<input type="text" class="form-control" name="name" placeholder="name='demo_input_4'" value="demo_input_4">
						</div>
					</div>
					
					<div class="form-group">
						<label class="control-label col-md-3" for="default">{lang giatrimacdinh}:</label>
						<div class="col-md-9">
							<input type="text" class="form-control" name="default" placeholder="{lang giatrimacdinh}" value="">
						</div>
					</div>
					
					<div class="form-group">
						<label class="control-label col-md-3" for="placeholder">{lang goiy}:</label>
						<div class="col-md-9">
							<input type="text" class="form-control" name="placeholder" placeholder="{lang goiy}" value="">
						</div>
					</div>
					
					<div class="form-group">
						<label class="control-label col-md-3" for="default">{lang batbuoc}:</label>
						<div class="col-md-9">
							<input type="checkbox"  name="require" value="1">
						</div>
					</div>

				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">{lang cancel}</button>
				<button type="button" class="btn btn-primary NXT_save_edit_input">{lang luu}</button>
			</div>
			
		</div>
	</div>
</div>

<div class="modal fade" id="NXT_modal_input_1_5" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="myModalLabel">{lang chinhsua}</h4>
			</div>
			<div class="modal-body">
				<form class="form-horizontal" role="form">
					<div class="form-group">
						<label class="control-label col-md-3" for="label">{lang teninput}:</label>
						<div class="col-md-9">
							<input type="text" class="form-control" name="label" placeholder="Ngày tháng" value="Ngày tháng">
						</div>
					</div>
					
					<div class="form-group" style="display:none;">
						<label class="control-label col-md-3" for="name">{lang thuoctinhname}:</label>
						<div class="col-md-9">
							<input type="text" class="form-control" name="name" placeholder="name='demo_input_5'" value="demo_input_5">
						</div>
					</div>
					
					<div class="form-group">
						<label class="control-label col-md-3" for="default">{lang giatrimacdinh}:</label>
						<div class="col-md-9">
							<input type="text" class="form-control" name="default" placeholder="{lang giatrimacdinh}" value="">
						</div>
					</div>
					
					<div class="form-group">
						<label class="control-label col-md-3" for="placeholder">{lang goiy}:</label>
						<div class="col-md-9">
							<input type="text" class="form-control" name="placeholder" placeholder="20/09/2015" value="">
						</div>
					</div>
					
					<div class="form-group">
						<label class="control-label col-md-3" for="default">{lang batbuoc}:</label>
						<div class="col-md-9">
							<input type="checkbox"  name="require" value="1">
						</div>
					</div>

				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">{lang cancel}</button>
				<button type="button" class="btn btn-primary NXT_save_edit_input">{lang luu}</button>
			</div>
			
		</div>
	</div>
</div>

<div class="modal fade" id="NXT_modal_input_2_1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="myModalLabel">{lang chinhsua}</h4>
			</div>
			<div class="modal-body">
				<form class="form-horizontal" role="form">
					<div class="form-group">
						<label class="control-label col-md-3" for="name">{lang teninput}:</label>
						<div class="col-md-9">
							<input type="text" class="form-control" name="label" placeholder="{lang teninput}" value="Lựa chọn">
						</div>
					</div>
					
					<div class="form-group" style="display:none;">
						<label class="control-label col-md-3" for="name">{lang thuoctinhname}:</label>
						<div class="col-md-9">
							<input type="text" class="form-control" name="name" placeholder="name='demo_input_2_1'" value="demo_input_2_1">
						</div>
					</div>
					
					<div class="form-group">
						<label class="control-label col-md-3" for="default">{lang giatrimacdinh}:</label>
						<div class="col-md-9">
							<input type="text" class="form-control" name="default" placeholder="{lang giatrimacdinh}" value="Lựa chọn 1">
						</div>
					</div>
					
					
					<div class="form-group">
						<label class="control-label col-md-3" for="name_option">{lang giatri}:</label>
						
						<div class="col-xs-4">
							<input type="text" class="form-control" name="name_option" placeholder="Tên {lang giatri}" value="Lựa chọn 1">
						</div>
						
						<div class="col-xs-4">
							<input type="text" class="form-control" name="value_option" placeholder="{lang giatri}" value="select_option_1">
						</div>
						
						<div class="col-xs-1">
							<a href="javascript:void(0)" data-lang="vi" class="btn green remove_select" style="border-radius:3px !important"><i class="fa fa-minus"></i></a>
						</div>
					</div>
					
					<div class="form-group">
						<label class="control-label col-md-3" for="name_option"></label>
						
						<div class="col-xs-4">
							<input type="text" class="form-control" name="name_option" placeholder="Tên {lang giatri}" value="Lựa chọn 2">
						</div>
						
						<div class="col-xs-4">
							<input type="text" class="form-control" name="value_option" placeholder="{lang giatri}" value="select_option_2">
						</div>
						
						<div class="col-xs-1">
							<a href="javascript:void(0)" data-lang="vi" class="btn green new_select" style="border-radius:3px !important"><i class="fa fa-plus"></i></a>
						</div>
					</div>

					<div class="form-group">
						<label class="control-label col-md-3" for="default">{lang batbuoc}:</label>
						<div class="col-md-9">
							<input type="checkbox"  name="require" value="1">
						</div>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">{lang cancel}</button>
				<button type="button" class="btn btn-primary NXT_save_edit_input">{lang luu}</button>
			</div>
			
		</div>
	</div>
</div>


<div class="modal fade" id="NXT_modal_input_2_2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="myModalLabel">{lang chinhsua}</h4>
			</div>
			<div class="modal-body">
				<form class="form-horizontal" role="form">
					<div class="form-group">
						<label class="control-label col-md-3" for="name">{lang teninput}:</label>
						<div class="col-md-9">
							<input type="text" class="form-control" name="label" placeholder="{lang teninput}" value="Lựa chọn nhiều">
						</div>
					</div>
					
					<div class="form-group" style="display:none;">
						<label class="control-label col-md-3" for="name">{lang thuoctinhname}:</label>
						<div class="col-md-9">
							<input type="text" class="form-control" name="name" placeholder="name='demo_input_2_2'" value="demo_input_2_2">
						</div>
					</div>
					
					<div class="form-group">
						<label class="control-label col-md-3" for="default">{lang giatrimacdinh}:</label>
						<div class="col-md-9">
							<input type="text" class="form-control" name="default" placeholder="{lang giatrimacdinh}" value="Lựa chọn 1">
						</div>
					</div>
					
					
					<div class="form-group">
						<label class="control-label col-md-3" for="name_option">{lang giatri}:</label>
						
						<div class="col-xs-4">
							<input type="text" class="form-control" name="name_option" placeholder="Tên {lang giatri}" value="Lựa chọn 1">
						</div>
						
						<div class="col-xs-4">
							<input type="text" class="form-control" name="value_option" placeholder="{lang giatri}" value="select_option_1">
						</div>
						
						<div class="col-xs-1">
							<a href="javascript:void(0)" data-lang="vi" class="btn green remove_select" style="border-radius:3px !important"><i class="fa fa-minus"></i></a>
						</div>
					</div>
					
					<div class="form-group">
						<label class="control-label col-md-3" for="name_option"></label>
						
						<div class="col-xs-4">
							<input type="text" class="form-control" name="name_option" placeholder="Tên {lang giatri}" value="Lựa chọn 2">
						</div>
						
						<div class="col-xs-4">
							<input type="text" class="form-control" name="value_option" placeholder="{lang giatri}" value="select_option_2">
						</div>
						
						<div class="col-xs-1">
							<a href="javascript:void(0)" data-lang="vi" class="btn green new_select" style="border-radius:3px !important"><i class="fa fa-plus"></i></a>
						</div>
					</div>

					<div class="form-group">
						<label class="control-label col-md-3" for="default">{lang batbuoc}:</label>
						<div class="col-md-9">
							<input type="checkbox"  name="require" value="1">
						</div>
					</div>

				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">{lang cancel}</button>
				<button type="button" class="btn btn-primary NXT_save_edit_input">{lang luu}</button>
			</div>
			
		</div>
	</div>
</div>


<div class="modal fade" id="NXT_modal_input_2_3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="myModalLabel">{lang chinhsua}</h4>
			</div>
			<div class="modal-body">
				<form class="form-horizontal" role="form">
					<div class="form-group">
						<label class="control-label col-md-2" for="name">Tên:</label>
						<div class="col-md-10">
							<input type="text" class="form-control" name="label" placeholder="{lang teninput}" value="Checkbox">
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-md-2" for="label_option">{lang giatri}:</label>
						
						<div class="col-xs-3">
							<input type="text" class="form-control" name="label_option" placeholder="Tên {lang giatri}" value="Checkbox 1">
						</div>
						
						<div class="col-xs-3">
							<input type="text" class="form-control" name="name_option" placeholder="{lang thuoctinhname}" value="name_checkbox_1">
						</div>
						
						<div class="col-xs-3">
							<input type="text" class="form-control" name="value_option" placeholder="{lang giatri}" value="checkbox_1">
						</div>
						
						<div class="col-xs-1">
							<a href="javascript:void(0)" data-lang="vi" class="btn green new_checkbox" style="border-radius:3px !important"><i class="fa fa-plus"></i></a>
						</div>
					</div>
					
					<div class="form-group">
						<label class="control-label col-md-3" for="default">{lang batbuoc}:</label>
						<div class="col-md-9">
							<input type="checkbox"  name="require" value="1">
						</div>
					</div>

				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">{lang cancel}</button>
				<button type="button" class="btn btn-primary NXT_save_edit_input">{lang luu}</button>
			</div>
			
		</div>
	</div>
</div>


<div class="modal fade" id="NXT_modal_input_2_4" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="myModalLabel">{lang chinhsua}</h4>
			</div>
			<div class="modal-body">
				<form class="form-horizontal" role="form">
					<div class="form-group">
						<label class="control-label col-md-3" for="name">{lang teninput}:</label>
						<div class="col-md-9">
							<input type="text" class="form-control" name="label" placeholder="{lang teninput}" value="Radio">
						</div>
					</div>
					
					<div class="form-group" style="display:none;">
						<label class="control-label col-md-3" for="name">{lang thuoctinhname}:</label>
						<div class="col-md-9">
							<input type="text" class="form-control" name="name" placeholder="name='demo_input_2_4'" value="demo_input_2_4">
						</div>
					</div>
					
					<div class="form-group">
						<label class="control-label col-md-3" for="default">{lang giatrimacdinh}:</label>
						<div class="col-md-9">
							<input type="text" class="form-control" name="default" placeholder="{lang giatrimacdinh}" value="Radio 1">
						</div>
					</div>
					
					
					<div class="form-group">
						<label class="control-label col-md-3" for="name_option">{lang giatri}:</label>
						
						<div class="col-xs-4">
							<input type="text" class="form-control" name="name_option" placeholder="Tên {lang giatri}" value="Radio 1">
						</div>
						
						<div class="col-xs-4">
							<input type="text" class="form-control" name="value_option" placeholder="{lang giatri}" value="radio_1">
						</div>
						
						<div class="col-xs-1">
							<a href="javascript:void(0)" data-lang="vi" class="btn green new_radio" style="border-radius:3px !important"><i class="fa fa-plus"></i></a>
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-md-3" for="default">{lang batbuoc}:</label>
						<div class="col-md-9">
							<input type="checkbox"  name="require" value="1">
						</div>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">{lang cancel}</button>
				<button type="button" class="btn btn-primary NXT_save_edit_input">{lang luu}</button>
			</div>
			
		</div>
	</div>
</div>

<div class="modal fade" id="NXT_modal_input_3_1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="myModalLabel">{lang chinhsua}</h4>
			</div>
			<div class="modal-body">
				<form class="form-horizontal" role="form">
					<div class="form-group">
						<label class="control-label col-md-3" for="name">Tên nút :</label>
						<div class="col-md-9">
							<input type="text" class="form-control" name="label" placeholder="Tên nút" value="Gửi">
						</div>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">{lang cancel}</button>
				<button type="button" class="btn btn-primary NXT_save_edit_input">{lang luu}</button>
			</div>
			
		</div>
	</div>
</div>


<div class="modal fade" id="NXT_modal_input_3_2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="myModalLabel">{lang chinhsua}</h4>
			</div>
			<div class="modal-body">
				<form class="form-horizontal" role="form">
					<div class="form-group">
						<label class="control-label col-md-3" for="name">Tên nút :</label>
						<div class="col-md-9">
							<input type="text" class="form-control" name="label" placeholder="Tên nút" value="Làm lại">
						</div>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">{lang cancel}</button>
				<button type="button" class="btn btn-primary NXT_save_edit_input">{lang luu}</button>
			</div>
			
		</div>
	</div>
</div>

<div class="modal fade" id="NXT_modal_input_3_3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="myModalLabel">{lang chinhsua}</h4>
			</div>
			<div class="modal-body">
				<form class="form-horizontal" role="form">
					<div class="form-group">
						<label class="control-label col-md-3" for="name">{lang teninput}:</label>
						<div class="col-md-9">
							<input type="text" class="form-control" name="label" placeholder="{lang teninput}" value="File">
						</div>
					</div>
					
					<div class="form-group" style="display:none;">
						<label class="control-label col-md-3" for="name">{lang thuoctinhname}:</label>
						<div class="col-md-9">
							<input type="text" class="form-control" name="name" placeholder="name='input_3_3'" value="input_3_3">
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-md-3" for="default">{lang batbuoc}:</label>
						<div class="col-md-9">
							<input type="checkbox"  name="require" value="1">
						</div>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">{lang cancel}</button>
				<button type="button" class="btn btn-primary NXT_save_edit_input">{lang luu}</button>
			</div>
			
		</div>
	</div>
</div>


<div class="modal fade" id="NXT_modal_input_3_4" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="myModalLabel">{lang chinhsua}</h4>
			</div>
			<div class="modal-body">
				<form class="form-horizontal" role="form">
					
					<div class="form-group">
						<label class="control-label col-md-2" for="name_option">Nút:</label>
						
						<div class="col-xs-4">
							<input type="text" class="form-control" name="name_option" placeholder="Tên nút" value="Gửi">
						</div>
						
						<div class="col-xs-4">
							<input type="text" class="form-control" name="value_option" placeholder="Kiểu nút" value="submit">
						</div>
						
						<div class="col-xs-1">
							<a href="javascript:void(0)" data-lang="vi" class="btn green remove_button" style="border-radius:3px !important"><i class="fa fa-minus"></i></a>
						</div>
					</div>
					
					<div class="form-group">
						<label class="control-label col-md-2" for="name_option"></label>
						
						<div class="col-xs-4">
							<input type="text" class="form-control" name="name_option" placeholder="Tên nút" value="Làm lại">
						</div>
						
						<div class="col-xs-4">
							<input type="text" class="form-control" name="value_option" placeholder="Kiểu nút" value="reset">
						</div>
						
						<div class="col-xs-1">
							<a href="javascript:void(0)" data-lang="vi" class="btn green new_button" style="border-radius:3px !important"><i class="fa fa-plus"></i></a>
						</div>
					</div>
					
					
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">{lang cancel}</button>
				<button type="button" class="btn btn-primary NXT_save_edit_input">{lang luu}</button>
			</div>
			
		</div>
	</div>
</div>

<div id="NXT_modal_clone">
	<!--{if isset($_DATA['item'])}-->
		{$_DATA['item']['modal_backend']}
	<!--{/if}-->
</div>


<div id="NXT_tmp_clone_form_basic" style="display:none;">
</div>
<script type="text/javascript">
var lang='{$_GET["lang"]}';
</script>