<form class="form-horizontal form-row-seperated" action="" id="form_logo" class="form-horizontal" enctype="multipart/form-data" method="POST" data-lang="{$_GET['lang']}">
	<div class="tabbable">
		 
		<div class="tab-content no-space">
			<div class="tab-pane active" id="lang_{$v_lang}">
				<div class="form-body">
					 
					<div class="form-group row-title-check">
						<label class="col-md-2 control-label">Chọn giao diện</label>
						<div class="col-md-8">
						 <select class="form-control" name="tempid" >
													 <option value="1" {if $tempId ==1}selected="selected"{/if}>Giao diện 1</option> 
													 <option value="2" {if $tempId ==2}selected="selected"{/if}>Giao diện 2</option>  
												</select>
						</div>
					</div>
					 
					 					
					<div class="btn_topline">
						 <div class="btn_actions">
							<button class="btn green continue" data-continue="template"><i class="fa fa-check"></i> {lang submit}</button>
						</div>
						<input type="hidden" name="action" value="changeTemp">
						<input type="hidden" name="giaodien" value="giaodien">
						 
					</div>
				</div>
			</div>
		</div>
	</div>
</form> 