<div class="actions btn-set">
	<a href="/template-addLayout-listLayout-lang-vi" class="btn default"><i class="fa fa-angle-left"></i> {lang cancel}</a>
	<button class="btn default" id="btn_reset" type="reset"><i class="fa fa-reply"></i> {lang lammoi}</button>
	<button type="button" class="btn red NXT_reset_all" data-continue="slidelist"><i class="fa fa-refresh"></i> {lang macdinhtatca}</button>
	<button type="button" class="btn green continue" data-continue="slidelist"><i class="fa fa-check"></i> {lang luu}</button>
</div> 